<div class="ui top fixed menu inverted">
  <div class="item">
    Book {{book.id}}
  </div>
  <div class="item">
    <app-answer-book-student-card [book]="book" [enableAdmin]="false" [enablePopup]="false"
                                  (error)="error=$event"></app-answer-book-student-card>
  </div>
  <div class="ui close button circular black icon" (click)="closed.emit()"><i class="icon times"></i></div>
</div>

<audio src="static/assets/camera-shutter-click.mp3" #audioShutter></audio>

<div class="content-wrapper">
  <div class="main">
    <div class="camera">
      <video #video></video>
      <div class="overlay" *ngIf="overlayRect" [ngStyle]="{'width.px': overlayRect.width, 'height.px': overlayRect.height, 'left.px': overlayRect.left, 'top.px': overlayRect.top}">
        <div class="canvas-wrapper" [ngStyle]="{'left.px': captureSettings.marginLeft * overlayRect.scale, 'width.px': overlayRect.width - (captureSettings.marginLeft + captureSettings.marginRight) * overlayRect.scale, 'top.px': captureSettings.marginTop * overlayRect.scale, 'height.px': overlayRect.height - (captureSettings.marginTop + captureSettings.marginBottom) * overlayRect.scale}">
          <canvas #canvas [width]="overlayRect.width / overlayRect.scale - captureSettings.marginLeft - captureSettings.marginRight"
                  [height]="overlayRect.height / overlayRect.scale  - captureSettings.marginTop - captureSettings.marginBottom"></canvas>
          <div class="cut-middle" *ngIf="captureSettings.serverOptions.cutMiddle">
            <div class="discard area left" *ngIf="captureSettings.serverOptions.discardFirst"></div>
            <div class="discard area right" *ngIf="captureSettings.serverOptions.discardSecond"></div>
            <div class="vertical line"></div>
          </div>
        </div>
        <div class="margin-areas">
          <div class="left area" [ngStyle]="{'width.px': captureSettings.marginLeft * overlayRect.scale}"></div>
          <div class="right area" [ngStyle]="{'width.px': captureSettings.marginRight * overlayRect.scale}"></div>
          <div class="top area" [ngStyle]="{'height.px': captureSettings.marginTop * overlayRect.scale}"></div>
          <div class="bottom area" [ngStyle]="{'height.px': captureSettings.marginBottom * overlayRect.scale}"></div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="camera-info" *ngIf="trackSettings">
        <div class="ui list horizontal inverted">
          <div class="item">
            <div class="header">Width</div>
            {{trackSettings.width}}
          </div>
          <div class="item">
            <div class="header">Height</div>
            {{trackSettings.height}}
          </div>
          <div class="item" *ngIf="trackSettings.frameRate">
            <div class="header">Frame Rate</div>
            {{trackSettings.frameRate}}
          </div>
        </div>
      </div>
      <div class="controls">
        <div class="settings">
          <form class="ui form equal width inverted">
            <div class="fields">
              <div class="field">
                <label>Margin Left</label>
                <input type="number" min="0" name="margin_left" [(ngModel)]="captureSettings.marginLeft">
              </div>
              <div class="field">
                <label>Margin Right</label>
                <input type="number" min="0" name="margin_right" [(ngModel)]="captureSettings.marginRight">
              </div>
              <div class="field">
                <label>Margin Top</label>
                <input type="number" min="0" name="margin_top" [(ngModel)]="captureSettings.marginTop">
              </div>
              <div class="field">
                <label>Margin Bottom</label>
                <input type="number" min="0" name="margin_bottom" [(ngModel)]="captureSettings.marginBottom">
              </div>
            </div>
            <div class="fields">
              <div class="field">
                <label>Fit Max Width</label>
                <input type="number" min="0" name="fit_max_width" [(ngModel)]="captureSettings.serverOptions.fitMaxWidth">
              </div>
              <div class="field">
                <label>Fit Max Height</label>
                <input type="number" min="0" name="fit_max_height" [(ngModel)]="captureSettings.serverOptions.fitMaxHeight">
              </div>
              <div class="field">
                <label>Cut Middle</label>
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="cut_middle" [(ngModel)]="captureSettings.serverOptions.cutMiddle" class="hidden" #inputCheckboxCutMiddle>
                  <label (click)="inputCheckboxCutMiddle.click()"></label>
                </div>
              </div>
              <ng-container *ngIf="captureSettings.serverOptions.cutMiddle">
                <div class="field">
                  <label>Discard Left Page</label>
                  <div class="ui toggle checkbox" [class.disabled]="captureSettings.serverOptions.discardSecond">
                    <input type="checkbox" name="discard_first" [(ngModel)]="captureSettings.serverOptions.discardFirst" class="hidden"
                           #inputCheckboxDiscardFirst [disabled]="captureSettings.serverOptions.discardSecond">
                    <label (click)="inputCheckboxDiscardFirst.click()"></label>
                  </div>
                </div>
                <div class="field">
                  <label>Discard Right Page</label>
                  <div class="ui toggle checkbox" [class.disabled]="captureSettings.serverOptions.discardFirst">
                    <input type="checkbox" name="discard_second" [(ngModel)]="captureSettings.serverOptions.discardSecond" class="hidden"
                           #inputCheckboxDiscardSecond [disabled]="captureSettings.serverOptions.discardFirst">
                    <label (click)="inputCheckboxDiscardSecond.click()"></label>
                  </div>
                </div>
              </ng-container>
            </div>
          </form>
        </div>
        <button class="ui button capture icon massive primary" (click)="takeShot()"><i class="icon camera"></i></button>
      </div>
    </div>
  </div>
  <div class="side">
    <app-error [error]="error"></app-error>
    <div class="main">
      <div class="ui divider horizontal inverted">Shots</div>
      <div class="ui card fluid" *ngFor="let shot of shots">
        <div class="ui top attached progress blue" *ngIf="shot.uploading">
          <div class="bar" [ngStyle]="{'width.%': shot.uploadProgress}"></div>
        </div>
        <div class="image">
          <img [src]="shot.dataUrl">
        </div>
        <div class="content">
          <div class="left floated meta">
            <ng-container *ngIf="shot.uploading">Uploading...</ng-container>
            <ng-container *ngIf="shot.pages">Page <span *ngFor="let p of shot.pages">{{p.index}}</span></ng-container>
          </div>
          <div class="right floated meta">
            <ng-container *ngIf="shot.options.cutMiddle">
              <i class="icon cut"></i>
              <i class="icon red times" *ngIf="shot.options.discardFirst; else notDiscarded"></i>
              <i class="icon red times" *ngIf="shot.options.discardSecond; else notDiscarded"></i>
              <ng-template #notDiscarded><i class="icon green check"></i></ng-template>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="ui divider horizontal inverted">Navigation</div>
      <app-answer-book-navigation-card [darkMode]="true" [currentBook]="book" (error)="error=$event"></app-answer-book-navigation-card>
    </div>
  </div>
</div>
