<div class="ui top fixed menu inverted">
  <div class="item">
    Book {{book.id}}
  </div>
  <div *ngIf="book.student_id" class="item">
    {{book.student.name}}
  </div>
  <div class="ui close button circular black icon" (click)="closed.emit()"><i class="icon times"></i></div>
</div>

<div class="content-wrapper">
  <div class="inner" #pageWrappers>
    <div class="page-wrapper" *ngFor="let page of book.pages">
      <app-answer-page-view  [pdfCache]="pdfCache" [page]="page" [pdfRenderText]="true"></app-answer-page-view>
      <div class="header">Page {{page.index}}</div>
    </div>
  </div>
  <div class="marking-wrapper">
    <app-error [error]="error"></app-error>
    <app-answer-book-markings-view [exam]="exam" [book]="book" [darkMode]="true" (error)="error=$event"></app-answer-book-markings-view>
  </div>
</div>
