<div class="ui top fixed menu inverted">
  <div class="item">
    Book {{book.id}}
  </div>
  <div *ngIf="book.student_id" class="item">
    <app-user-mini-card [user]="book.student" [enablePopup]="false"></app-user-mini-card>
  </div>
  <div class="item">
    <div class="ui mini buttons">
      <button class="ui button icon" (click)="tool='hand'" [class.active]="tool=='hand'"><i class="icon hand pointer"></i></button>
      <button class="ui button icon" (click)="tool='pen'" [class.active]="tool=='pen'"><i class="icon pencil"></i></button>
      <button class="ui button icon" (click)="tool='eraser'" [class.active]="tool=='eraser'"><i class="icon eraser"></i></button>
    </div>
  </div>
  <div class="ui close button circular black icon" (click)="closed.emit()"><i class="icon times"></i></div>
</div>

<div class="content-wrapper">
  <div class="inner" #pageWrappers>
    <div class="page-wrapper" *ngFor="let page of book.pages">
      <ng-container *ngIf="page._loaded">
        <div class="content">
          <app-answer-page-view [pdfCache]="pdfCache" [page]="page"></app-answer-page-view>
          <app-annotation-layer class="annotations" [page]="page" [tool]="tool" (error)="error=$event"></app-annotation-layer>
        </div>
        <div class="footer">Page {{page.index}}</div>
      </ng-container>
    </div>
  </div>
  <div class="marking-wrapper">
    <app-error [error]="error"></app-error>
    <app-answer-book-markings-view [task]="task" [book]="book" [darkMode]="true" (error)="error=$event"></app-answer-book-markings-view>
  </div>
</div>
