<div class="ui top fixed menu inverted">
  <div class="item">
    Book {{book.id}}
  </div>
  <div class="item" [class.shrink]="!book.student">
    <app-answer-book-student-card [task]="task" [book]="book" [enableAdmin]="false" [enablePopup]="false"
                                  (error)="error=$event"></app-answer-book-student-card>
  </div>
  <div class="item" *ngIf="!task.is_locked">
    <div class="ui mini buttons">
      <button class="ui button icon" (click)="tool='hand'" [class.active]="tool=='hand'"><i class="icon hand pointer"></i></button>
      <button class="ui button icon" (click)="tool='pen'" [class.active]="tool=='pen'"><i class="icon pencil"></i></button>
      <button class="ui button icon" (click)="tool='eraser'" [class.active]="tool=='eraser'"><i class="icon eraser"></i></button>
    </div>
  </div>
  <div class="ui close button circular black icon" (click)="closed.emit()"><i class="icon times"></i></div>
</div>

<div class="error-wrapper" *ngIf="error">
  <app-error [error]="error"></app-error>
</div>

<div class="content-wrapper">
  <div class="wrapper">
    <div class="inner" #pageWrappers>
      <div class="page-wrapper" *ngFor="let page of book.pages">
        <ng-container *ngIf="page['_loaded']">
          <div class="content">
            <app-answer-page-view [pdfCache]="pdfCache" [page]="page"></app-answer-page-view>
            <app-answer-page-annotation-layer class="annotations" [page]="page" [tool]="tool" (error)="error=$event"></app-answer-page-annotation-layer>
          </div>
          <div class="footer">Page {{page.index}}</div>
        </ng-container>
      </div>
    </div>
    <div class="marking-wrapper" [ngClass]="{'mobile-active': mobileActive}">
      <div class="ui divider horizontal inverted">Markings</div>
      <app-answer-book-markings-view [task]="task" [book]="book" (error)="error=$event"></app-answer-book-markings-view>
      <div class="ui divider horizontal inverted" *ngIf="!task.is_locked||book.comments.length">Comments</div>
      <app-answer-book-comments-view [task]="task" [book]="book" (error)="error=$event" [darkMode]="true"></app-answer-book-comments-view>
      <div class="ui divider horizontal inverted">Navigation</div>
      <app-answer-book-navigation-card [darkMode]="true" [task]="task" [currentBook]="book" (error)="error=$event"></app-answer-book-navigation-card>
    </div>
    <div class="marking-toggle ui button icon orange" (click)="mobileActive=!mobileActive" [ngClass]="{'mobile-active': mobileActive}">
      <i class="icon bars"></i>
    </div>
  </div>
</div>
