<app-error [error]="error"></app-error>

<div class="ui segment very padded basic" *ngIf="loadingBooks">
  <div class="ui active loader inline text centered">Loading books...</div>
</div>

<ng-container *ngIf="books">
  <div class="ui top attached clearing segment">
    <div class="ui right floated menu secondary fitted">
      <div class="item">
        <div class="ui basic buttons small">
          <a class="ui button" href="api/tasks/{{taskId}}/export-markings" target="_blank"><i class="icon share"></i> Export</a>
        </div>
      </div>
    </div>
    <div class="ui left floated menu secondary fitted">
      <div class="item">
        <div class="ui input icon">
          <input type="text" name="bookSearchKey" #inputBookSearch (keyup)="bookSearchKey.next(inputBookSearch.value)"
                 placeholder="Search Book...">
          <i class="icon search"></i>
        </div>
      </div>
    </div>
  </div>
  <table class="ui table unstackable sortable celled attached">
    <thead>
    <tr>
      <th>#</th>
      <th (click)="sortField('id', thID)" #thID>ID</th>
      <th (click)="sortField('student.name', thStudent)" #thStudent>Student</th>
      <th (click)="sortField('_marks_'+q.id, thQuestion)" #thQuestion *ngFor="let q of task.questions">Q{{q.index}}</th>
      <th (click)="sortField('_total_marks', thTotal)" #thTotal>Total</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of bookPages.pageItems; index as i">
      <td>{{bookPages.startRow + i}}</td>
      <td>{{book.id}}</td>
      <td>
        <app-user-mini-card *ngIf="book.student_id" [user]="book.student" [enablePopup]="true" [enableAdmin]="isAdmin"></app-user-mini-card>
      </td>
      <td *ngFor="let q of task.questions">
        <ng-container *ngIf="book['_marks_' + q.index] != null">
          {{book['_marks_' + q.id]}}
        </ng-container>
      </td>
      <td>{{book['_total_marks']}}</td>
      <td>
        <div class="ui mini buttons">
          <a routerLink="{{book.id}}" class="ui button icon"><i class="icon horizontal ellipsis"></i></a>
          <button *ngIf="isAdmin" class="ui button icon red" (click)="deleteBook(book, btnDeleteBook, bookPages.startRow + i - 1)" #btnDeleteBook><i class="icon trash"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <app-table-pagination-toolbar class="bottom attached" [pagination]="bookPages"></app-table-pagination-toolbar>
</ng-container>


<div class="ui grid stackable centered">
  <div class="column four wide">
    <div class="ui segment">
      <form class="ui form" #f="ngForm" (ngSubmit)="addBook(f)" [class.loading]="addingBook">
        <div class="field">
          <label>Student</label>
          <input type="text" name="student_name" [(ngModel)]="newBookForm.student_name">
        </div>
        <button type="submit" class="ui button fluid primary"><i class="icon plus"></i> Add Book</button>
      </form>
    </div>
  </div>
</div>
