<div class="ui container">
  <div class="ui grid middle aligned stackable centered">
    <div class="column six wide">
      <div class="ui center aligned header">
        <img src="static/assets/logo-256.png" alt="">
        UNSWKG Online Marking System
      </div>

      <app-error [error]="error"></app-error>

      <div class="ui segment basic">
        <div class="ui loader text inline active centered" *ngIf="loadingUser">Loading User Info...</div>
        <div class="ui loader text inline active centered" *ngIf="loadingTasks">Loading Tasks...</div>

        <div class="ui menu vertical fluid" *ngIf="tasks && tasks.length">
          <a *ngFor="let task of tasks" routerLink="/tasks/{{task.id}}" class="item">
            <i class="icon angle right"></i>
            <span class="ui label green" *ngIf="!task.config_locked||!task.answer_locked||!task.marking_locked">Open</span>
            {{task.name}}
          </a>
        </div>
      </div>

      <ng-container *ngIf="user">
        <div class="ui segment basic center aligned">

          <div class="ui basic buttons">
            <a class="ui basic button" href="account/profile" target="_blank">
              <i class="icon user circle"></i> {{user.nickname || user.name}}
            </a>
            <a class="ui basic button" routerLink="/admin" *ngIf="isAdmin">
              <i class="icon cogs"></i> Management
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>
